MixTube/Service References/ServiceReference1/WCFServiceWebRole1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOfimage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="image" nillable="true" type="tns:image" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfimage" nillable="true" type="tns:ArrayOfimage" />
  <xs:complexType name="image">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="guid" type="ser:guid" />
          <xs:element minOccurs="0" name="imageData" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="image" nillable="true" type="tns:image" />
</xs:schema>