MixTube/SampleData/YouTubeSampleData1/YouTubeSampleData1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.YouTubeSampleData1" targetNamespace="Expression.Blend.SampleData.YouTubeSampleData1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="YouTubeSampleData1" type="tns:YouTubeSampleData1" />
  <xs:complexType name="YouTubeSampleData1">
    <xs:sequence>
      <xs:element name="SearchResults" type="tns:SearchResults" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchResults">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="SearchResultsItem" type="tns:SearchResultsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchResultsItem">
    <xs:attribute name="Title" type="xs:string" />
    <xs:attribute blend:FormatParameters="F:\Pictures\PokeMon" name="VideoImageUrl" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>